@media screen and (max-width: 600px) {
  body {
    background-color: olive;
  }
}

@media screen and (max-width: 900 px) {
  body {
    font-size: 85%;
  }
  
  h1#logo {
    height: 35 px;
    width: 35 px;
  }
  
  h2#logo {
    font-size: 2.23em;
  }
  
  #social {
    margin: 72 px;
  }
  
  .col-3 p{
    column-count: 2;
  }
}

@media screen and (min-width: 1108x) {
  .wrapper {
    width: 90%;
  }
  #social {
    position: absolute;
    width: auto;
    margin: 82px 4px;
  }
}

@media screen and (max-width: 750px) {
  #navbar nav a{
    font-size: 0.9em;
  }
  
  .col-3 p {
    column-count: 1;
  }
  
  .col-1, .col-2, .col-3 {
    width: 100%;
    margin: 0;
    float: none;
    .border-right: 0;
  }
  
  :details div {
    height: auto;
  }
}








}